@import url(nosotros/nosotros.css);
@import url(footer/footer.css);
@import url(home/home.css);
@import url(nav/nav.css);
@import url(catalogo/catalogo.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.oculto{
    display: none;
}
h5{
    color: white;
}
<<<<<<< HEAD
body{
    width:1500px;
}
=======

>>>>>>> e1949c338adcd67f2af5cf59753ac3672efb5550
